.box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.box__element{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}